// Test Variable Map
$test-vars: (
    color: red;
);

// Test CSS Variable Reference
@function test-var($name) {
    @return var(--test-#{$name});
}

.test {
    // Convert Sass Variable Map to CSS Variables
    @each $key, $value in $test-vars {
        --test-#{$key}: #{$value};
    }

    // Test Styles
    color: test-var(color);
}
