<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <title>Stencil Storybook Wrapper | Component Starter</title>
</head>

<body>
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            font-size: 16px;
        }

        header {
            padding: 50px 20px;
            text-align: center;
        }
    </style>
    <header>
        <h2>
            Dev server to be used in-conjunction with Storybook server for testing components.
        </h2>
        <p>&copy;Sapient Consulting
            <script>document.write(new Date().getFullYear())</script>
        </p>
    </header>
</body>

</html>